@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/*===== variable define =====*/
:root {
    --primary-color: #ff553e;
    --secondary-color: #333;
    --white-color: #fff;
    --black-color: #000;
}

html {
    scroll-behavior: smooth;
   
}

body {
    font-size: 100%;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.error{
    margin-top: 10%;
    margin-bottom: 10%;
}
/*
=======================================
        Custom Scrollbar
=======================================
*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 7px;
}

/*
=======================================
        Custom CSS Design
=======================================
*/

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
}

h2 {
    font-weight: 600;
    font-size: 1.5625rem;
    text-transform: capitalize;
    color: var(--white-color);
    line-height: 2.5rem;
}

h4 {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.9375rem;
    transition: all .3s linear;
}

h5 {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
    opacity: 0.8;
}

.main-btn {
        height: 40px;
        line-height: 40px;
        font-size: 1.125rem;
        display: inline-block;
        color: var(--white-color);
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 30px;
        position: relative;
}

.main-btn::after,
.main-btn::before {
    position: absolute;
    top: 50%;
    background-color: rgba(255,255,255,.3);
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}

.main-btn::after {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
}

.main-btn:hover::before {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    background-color: var(--primary-color);
}

.main-btn:hover::after {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    background-color: var(--primary-color);
}

.main-btn:hover {
    color: var(--primary-color) !important;
}

.wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--secondary-color);
}

.text-content {
    width: 60%;
    margin: auto;
}

/*
=========================================
       Header Design
=========================================
*/
.top-header{
    background-color: var(--secondary-color);
}
.top-header span{
    font-size: 0.875rem;
    color: var(--white-color);
    letter-spacing: 0.1062rem;
}
.container img{
    width: 100%;
    height: 55px;
}

.navigation-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item{
    padding: 0 0.5rem;
    transition: all 200ms linear;
    
}

.heart{
    margin-left: 95%;
}


.navbar-toggler:focus{
    outline: unset;
    border: none;
    box-shadow: none;
}
#navbarNav{
    margin-right: 31%;
}
.navigation-wrap .nav-link{
    padding-top: 0.9375rem;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 0.0625rem;
}

.navigation-wrap .nav-link:hover,
.navigation-wrap .nav-link.active{
    color: var(--primary-color);
}
.badge{
    position: absolute;
    margin-left: -16px;
    margin-top: -13px;
}

/*
===================================
change navbar style on scroll
===================================
*/
.navigation-wrap.scroll-on{
    position: fixed;
    background-color: var(--black-color);
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 1.75rem 1 rgb(0,0,0,0.09);
    transition: all .15s ease-in-out 0s;
}

.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active{
    color: var(--primary-color);
}

/*
================================
     top banner design
================================
*/
#home .carousel-caption{
    top: 160px;
}
#home .carousel-caption p{
    max-width: 600px;
    margin: 14px auto;
}

/*
===============================
    new arrivals section
===============================
*/
.card-banner img{
    height: 100%;
}
.new-arrivals .banner-info{
    bottom: 30px;
    margin: auto;
    width: 100%;
    position: absolute;
    z-index: 9;
    padding: 0 10px;
}
.new-arrivals .card-banner:nth-child(2) h2,
.new-arrivals .card-banner:nth-child(2) p,
.new-arrivals .card-banner:nth-child(2) a{
    color: var(--black-color);
}
.new-arrivals .card-banner:nth-child(2) a::before,
.new-arrivals .card-banner:nth-child(2) a::after{
    background-color: var(--black-color);
}
.new-arrivals .card-banner .card-thumb,
.products .item-product{
    position: relative;
    display: block;
    overflow: hidden;
}
.new-arrivals .card-banner .card-thumb img,
.products .item-product img{
    transition: all .5s ease-out 0s;
   
}
.new-arrivals .card-banner .card-thumb img:hover,
.products .item-product img:hover{
    transform: scale(1.2);
    opacity: 0.6;
    
}

/*
================================
      product section
================================
*/
.item-product img{
    height: 100%;
    border-radius: 2%;
}
.products .wrapper{
    background-color: var(--black-color);
}
.products .nav-tabs {
    border: 0;
    justify-content: center;
}
.products .nav-tabs .nav-link{
    display: block;
    padding: 0 30px;
    border: 1px solid var(--white-color);
    border-radius: 20px;
    background-color: var(--black-color);
    color: var(--white-color);
    height: 36px;
    margin: 10px;
    line-height: 34px;
    text-transform: uppercase;
}
.products .product-info .cat-parent,
.products .product-info i{
    font-size: 0.975rem;
    color: var(--white-color);
    opacity: 0.6;
    text-transform: uppercase;
}
.products .product-title a{
    margin: 0 0 7px;
    display: block;
    color: var(--white-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}
.products .rating i{
    color: #f4d632;
    padding: 1px;
}
.basket a i{
    color: var(--white-color);
}
.item{
    margin-top: 6%;
}
.wrap{
    background-color: var(--black-color);
   padding-bottom: -20%;
}
.wrap1{
    background-color: var(--black-color);
   width: 95%;
   margin-left: 2%;
   margin-bottom: 1%;
}
.trash{
    margin-left: 46%;
}

.q-btn{
    margin-left: 40%;
    margin-top: -9%;
}
.wishlist{
    margin-top: -2%;
    
}
.details{
    position: relative;
    margin-left: -30%;
   width: 123%;
}
.subtotal span{
    margin-left: 70%;
}
.discount span{
    margin-left: 70%;
}
.delivery span{
    margin-left: 59%;
}
.total span{
    margin-left: 41%;
}
.total{
    border-bottom:1px solid var(--white-color);
    padding-top: 2%;
    padding-bottom: 12%;
}
.place{
    margin-top: -22%;
}

.grid{
    display: grid;
    grid-template-columns: 70% 1fr;
    
}
.cartrow{
    width: 80%;
}


/*
================================
      deal of the day
================================
*/
.deal-of-the-day{
    background-image: url("../public/image/img/img-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
================================
        blog section
================================
*/
.blog-item img{
    height: 100%;
}
.blog-section{
    background-color: var(--black-color);
}
.blog{
    width: 98%;
    margin-left: 1%;
}

/*
================================
        footer section
================================
*/
.footer{
    background-color: var(--secondary-color);
    margin-top: auto;
}
.footer .footer-social a i{
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 1rem;
}
.footer .footer-social a:hover i{
    color: var(--primary-color);
}

@media (max-width: 1024px) {
    /* Custom CSS */
    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 1.125rem;
        line-height: 1.5625rem;
    }
    .wrapper {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .trash{
        margin-left: 83%;
        margin-top: -24%;
    }
    .grid{
        display: grid;
        grid-template-columns: 70% 1fr;
    }
     .navbar-brand img{
        width: 75%;
        height: auto;
    }
    
   
}
@media (max-width: 991px) {
    /* Custom CSS */

    h4 {
        font-size: 0.9375rem;
        margin-bottom: 0.625rem;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }
    .text-content {
        width: 100%;
    }
    /* nav brand */
    .navigation-wrap .navbar-brand img{
        height: 2.8125rem;
    }
    .navbar-toggler i{
        color: var(--white-color);
        line-height: 2;
    }
    .navigation-wrap{
        text-align: right;
        background-color: var(--black-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    #navbarNav{
        margin-right: 6px;
    }

    /* banner design */
    #home{
        padding: 4.375rem 0 0;
    }
    /* top banner */
    #home .carousel-caption{
        top: 3.6rem;
    }
    .item{
        margin-top: 8%;
    }
    .grid{
        display: grid;
        grid-template-columns:1fr;
    }
    .cartrow{
        margin-left: 10%;
    }
    .details{
        width: 79%;
        margin-left: 10%;
    }
    .subtotal span{
        margin-left: 83%;
    }
    .discount span{
        margin-left: 83%;
    }
    .delivery span{
        margin-left: 76%;
    }
    .total span{
        margin-left: 59%;
    }
    .total{
        border-bottom:1px solid var(--white-color);
        padding-top: 2%;
        padding-bottom: 9%;
    }
    .place{
        margin-top: -15%;
    }
}

@media (max-width: 575px){
    /* custom CSS*/
    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 5px;
    }
    .main-btn {
        height: 20px;
        line-height: 20px;
        font-size: 0.9375rem;
    }
    .main-btn::after {
        transform: translateY(0.9375rem);
        -webkit-transform: translateY(0.9375rem);
    }
    .main-btn::before {
        transform: translateY(-0.9375rem);
        -webkit-transform: translateY(-0.9375rem);
    }
    /* top banner */
    #home .carousel-caption{
        top: 1.5rem;
    }
    #home .carousel-caption p{
        margin: 5px auto;
    }
    .grid{
        display: grid;
        grid-template-columns:  1fr;
    }
   .details{
    margin-left: 10%;
   }
    .subtotal span{
        margin-left: 72%;
    }
    .discount span{
        margin-left: 72%;
    }
    .delivery span{
        margin-left: 60%;
    }
    .total span{
        margin-left: 33%;
    }
    .total{
        border-bottom:1px solid var(--white-color);
        padding-top: 2%;
        padding-bottom: 14%;
    }
    .place{
        margin-top: -25%;
    }
    .trash{
        margin-left: 72%;
        margin-top: -32%;
    }
    
    .q-btn{
        margin-left: 46%;
        margin-top: -11%;
    }
    .cartrow{
        margin-left: 10%;
     }
}

@media (max-width: 430px) {
    /* custom CSS */
    h1 {
        margin-bottom: 0;
    }

    /* top banner */
    .top-header{
        display: none;
    }
    #home .carousel-caption{
        padding: 0;
    }
    #home .carousel-caption p{
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
    .heart{
        margin-left: 80%;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .cartrow{
        margin-left: 10%;
     }
    .details{
        margin-left: 10%;
    }
    .subtotal span{
        margin-left: 68%;
    }
    .discount span{
        margin-left: 68%;
    }
    .delivery span{
        margin-left: 52%;
    }
    .total span{
        margin-left: 18%;
    }
    .total{
        padding-bottom: 18%;
    }
    .place{
        margin-bottom: 5%;
    }
    .q-btn{
        margin-top: 3%;
        margin-left: -1%;
        padding-bottom: 5%;
    }
    .trash{
        margin-top: -25%;
    }
    .item{
        margin-top: 20%;
        font-size: 40px;
    }
}

@media (max-width: 360px){
    /* top banner */
    #home .carousel-caption{
        top: 1rem;
    }
    .grid{
        display: grid;
        grid-template-columns:  1fr;
    }
    .subtotal span{
        margin-left: 60%;
    }
    .discount span{
        margin-left: 60%;
    }
    .delivery span{
        margin-left: 40%;
    }
    .total span{
        margin-left: 57%;
    }
    .total{
        border-bottom:1px solid var(--white-color);
        padding-top: 2%;
        padding-bottom: 20%;
    }
    .place{
        margin-top: -37%;
    }
    .trash{
       margin-top: -24%;
    }
    
    .q-btn{
       margin-left: -1%;
       margin-top: 4%;
       
    }
    
    
}
